---

---

<div class="_404">
    <a href="/">WIP</a>
</div>

<style>

    ._404 {
        display: inline-block;
        font-family: IBM Plex Sana, sans-serif;
        font-weight: 500 !important;
        font-size: 10rem;

        /*color: var(--black);*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        & a {
            color: #222222;
        }

    }


</style>