---
import { ViewTransitions } from "astro:transitions";

import Footer from "../components/molecules/Footer.astro";
import Section3 from "../components/organisms/Section-3.astro";
import Section2 from "../components/organisms/Section-2.astro";
import Section1 from "../components/organisms/Section-1.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Set character encoding for the document -->
    <meta charset="utf-8" />

    <!-- Instruct Internet Explorer to use its latest rendering engine -->
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Viewport for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title -->
    <title>Gyan Anjay's Portfolio | Professional Projects and Skills</title>

    <!-- Meta Description -->
    <meta
      name="description"
      content="Explore Gyan Anjay's portfolio showcasing professional projects, skills, and achievements. Discover how I can contribute to your team's success."
    />

    <!-- Open Graph / Facebook Meta Tags -->
    <meta
      property="og:title"
      content="Gyan Anjay's Portfolio | Professional Projects and Skills"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bepbop.github.io" />
    <meta property="og:image" content="/icon.svg" />
    <meta
      property="og:description"
      content="Explore Gyan Anjay's portfolio showcasing professional projects, skills, and achievements. Discover how I can contribute to your team's success."
    />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Gyan Anjay's Portfolio | Professional Projects and Skills"
    />
    <meta
      name="twitter:description"
      content="Explore Gyan Anjay's portfolio showcasing professional projects, skills, and achievements. Discover how I can contribute to your team's success."
    />
    <meta name="twitter:image" content="/icon.svg" />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://bepbop.github.io" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="/icon.svg" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/normalize.css" />

    <!-- Custom stylesheets for different sections of the webpage -->
    <link rel="stylesheet" href="/css/Root.css" />
    <link rel="stylesheet" href="/css/Section-1.css" />
    <link rel="stylesheet" href="/css/Section-2.css" />
    <link rel="stylesheet" href="/css/Section-3.css" />

    <!-- Theme Color for browser UI -->
    <meta name="theme-color" content="#fafafa" />

    <!-- Structured Data -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Gyan Anjay",
        "url": "https://bepbop.github.io",
        "sameAs": [
          "https://linkedin.com/in/gyananjay",
          "https://github.com/bepbop"
        ]
      }
    </script>

    <!-- Analytics (load asynchronously for better performance) -->
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="818ff8d6-209c-425f-b3f3-bb9c51e37a8e"></script>

    <ViewTransitions />
  </head>

  <body>
    <div class="rectangle"></div>
    <Section1 />
    <Section2 />
    <Section3 />
    <Footer />
  </body>
</html>
