.selected.active {
  padding-right: 3.5rem;
  width: min-content;
}

.selected.active .subheader {
  color: var(--black);
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.75rem;
  font-weight: 400;
  margin: auto auto -4px;
}

.selected.active .year {
  color: var(--black);
  font-family: "IBM Plex Mono", monospace;
  font-size: 2.375rem;
  font-weight: 600;
}

a {
  all: unset;
}

.test {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row: 6;
  height:63px;
}

.test > div {
  grid-column-start: 1;
  /*grid-column-end: 3;*/
  grid-row-start: 1;
  grid-row-end: 6;
  z-index: 0;
}

.test img {
  grid-column-start: 1;
  /*grid-column-end: 3;*/
  grid-row-start: 4;
  grid-row-end: 5;
}
