---

---

<div
  id="project_slider"
  class="slider"
  style="background-image: url('/img/projects.svg');"
>
</div>

<style>
  #project_slider {
    z-index: 999;
    position: relative;
  }
</style>

<script is:inline data-astro-rerun>
  (function () {
    const projectSlider = document.getElementById("project_slider");
    let scrollPosition = 0;

    function animateSlider() {
      scrollPosition -= 2;
      projectSlider.style.backgroundPositionX = `${scrollPosition}px`;
      requestAnimationFrame(animateSlider);
    }

    if (projectSlider) {
      requestAnimationFrame(animateSlider);
    }
  })();
</script>
