#Section-1 {
  margin: 0 10.31746031746%;
  overflow: clip;
}

.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: var(--green)
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 80px;
}

.eye-brow-header {
  font-family: 'IBM Plex Mono', monospace;
  font-size: clamp(0.75rem, 1vw + 0.375rem, 1.25rem);
  text-transform: uppercase;
  grid-column: 1/8;
}

.header {
  /*font-size: 80px;*/
  font-size: clamp(2.5rem, 5vw + 0.625rem, 5rem);
  font-weight: 500;
  text-transform: capitalize;
  grid-column: 1/8;
}

.sub-header {
  /*color: rgba(34, 34, 34, 0.80);*/
  font-weight: 400;
  font-size: clamp(1.5rem, 2vw + 0.3125rem, 2.0rem);
  /*text-transform: capitalize;*/
  grid-column: 1/8;
  /*font-family:"Roboto", sans-serif;*/
}

#tl\.dr {
  font-size: clamp(1rem, 0.5vw + 0.8125rem, 1.25rem);
  text-transform: uppercase;
  margin-top: -40px;
  grid-column: 1/13;
  /*display: none;*/
  background: rgba(255, 255, 0, 0.7);
}

.vertical-font-design {
  position: absolute;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: clamp(5rem, 4vw + 3.4125rem, 6.5rem);
  color: rgba(75, 75, 88, 0.12);
  top: -16px;
  right: 0;
}

.flex-basis-width-char {
  /*max-width: 794px;*/
  flex-basis: 60ch;
  font-family: 'IBM Plex Sans', sans-serif !important;
  padding-top:24px;
}

.line {
  width: 2px;
  height: 93%;
  background: #c8c8c9;
  /*margin-top: 40px;*/
  margin: 10% auto auto auto;
}

.circle {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 32px;
  font-weight: 400;
  color: var(--black);
  /*border-radius: 25px;*/
  /*padding: 25% 50%;*/
}

.para {
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-size: 20px;
  line-height: 30px;
  padding-top: 20px;
}


.sub-header-2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--black2);
  /*padding-top: 4px;*/
}

.bold {
  font-weight: 500;
}

.font-size-42 {
  /*font-size: 42px;*/
  font-size: clamp(2rem, 1.25vw + 1.53125rem, 2.375rem);
}

.padding-120 {
  /*margin-top: 200px;*/
  margin-top: clamp(6.25rem, 12.5vw + 1.875rem, 10.5rem);
}

.padding-121 {
  margin-top: clamp(6.25rem, 12.5vw + 1.875rem, 1rem);
}

.vertical-font-design-2 {
  position: absolute;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 104px;
  color: #323233;
  right: 0;
}


#one {
  /*margin-top: 160px;*/
  margin-top: clamp(7rem, 10vw + 1.25rem, 10rem);
  gap:10px;
}

@media (width <= 1080px) {

  /*.vertical-font-design {*/
  /*  display: none;*/
  /*}*/

  .line {
    display: none;
  }

}


@media (width <= 720px) {

  .vertical-font-design {
    display: none;
  }

  .eye-brow-header {
    grid-column: 1/13;
  }

  .header {
    grid-column: 1/13;
  }

  .sub-header {
    grid-column: 1/12;
  }

}
