#Section-2 {
  background: black;
}

#icon {
  transition: all 120ms;
}

.sticky {
  position: sticky;
  top: 0;

}

#year {
  color: var(--black);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 4vmax;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  gap: 4vw;
  transform: rotate(4deg) translateX(-107px) translateY(-50px);
  background: var(--green);
  padding: 25px 0;
  overflow: auto;
  width: calc(101% + 107px)
}

#year::-webkit-scrollbar {
  display: none;
}

#year {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


#rotate {
  /*rotate: -90deg;*/
  /*line-height: 40px;*/
  /*transform-origin: 0 0;*/
  /*background: red;*/
  /*background-image: url("../img/Frame.svg");*/
  position: absolute;
  /*top: 0;*/
  height: 100%;
  background-size: 100% auto;
  width: 4vw;
  z-index: -1;
}

.rectangle-2 {
  width: 100%;
  height: 56px;
  background: var(--blue)
}

.project-number {
  position: absolute;
  top: -12px;
  right: 0;
  color: var(--green);
}

.margin {
  margin: 48px 10.31746031746%;
}

.marquee {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


.parent-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  gap: 24px;
  justify-content: space-evenly;
  padding-bottom: 64px;
}

#first-child-child {
  font-weight: 600;
  padding-top: 44px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  font-family: 'IBM Plex Sans', sans-serif;
  /*flex-basis: 120ch;*/
  align-items: flex-start;
}

#cum {
  flex-basis: 80%;
}

.project-para {
  color: var(--white) !important;
  width: 80%;
}

#first-child {
  flex-basis: calc(100vmax - 60%);
}

.rectangle-3 {
  width: 80%;
  height: 1px;
  background: var(--white);
  margin-top: 32px;
  display: none;
}

#date {
  padding-top: 24px;
  color: var(--white) !important;
  /*display: flex;*/
  /*justify-content: space-between;*/
}

a:link, a:visited, a:hover, a:active {
  color: var(--white) !important;
}

.font-24 {
  font-family: 'IBM Plex Sans', sans-serif;
}


.font-40 {
  /*font-weight: 500;*/
  /*font-size: clamp(1.25rem, 2.5vw + .3125rem, 1.75rem);*/
  font-size:1.5rem;
  color: var(--green);
  font-family: IBM Plex Mono, monospace;
}

.font-64 {
  font-weight: 500;
  font-size: clamp(3.5rem, 2.666vw + 2.166rem, 3.75rem);
  color: var(--green);
}

.font-48 {
  font-weight: 525;
  font-size: clamp(2.25rem, 2vw + 1.5rem, 3rem);
  color: var(--green);
}

details[open] #icon {
    transform: rotate(45deg);
}

.font-24 {
  font-size: 24px;
  line-height: 36px;
  color: var(--green);
}

.font-28 {
  font-size: 28px;
  line-height: 44px;
  color: var(--green);
}

summary {
  list-style: none
}

summary::-webkit-details-marker {
  display: none;
}

#serial-number {
  font-family: 'IBM Plex Mono', monospace;
}

@media (width <= 800px) {

  #serial-number {
    display: none;
  }

}
