---
import Slider from "../atoms/skill_slider.astro";
---

<div id="Section-3">
  <Slider />

  <div class="margin">
    <div class="parent-box-">
      <div class="toy">
        <button
          onclick="window.open('https://www.linkedin.com/in/anjaygyan/', '_blank')"
          >View Resume <img src="/img/arrow.svg" alt="arrow" /></button
        >
      </div>
      <div class="parent-box">
        <div class="box">
          <div class="box-head">Figma</div>
          <ul class="box-para">
            <li>Creating and organizing Design System.</li>
            <li>Using Frames, styles, components, and auto-layout.</li>
            <li>Developing skills in design and collaboration.</li>
          </ul>
        </div>
        <div class="box">
          <div class="box-head">UI UX</div>
          <ul class="box-para">
            <li>
              Designing intuitive interfaces with cohesive systems for seamless
              user journeys.
            </li>
            <li>Creating wireframes and prototypes to visualize ideas.</li>
            <li>
              Collaborating with developers to implement designs flawlessly.
            </li>
          </ul>
        </div>
        <div class="box">
          <div class="box-head">JavaScript</div>
          <ul class="box-para">
            <li>Learning and implementing functions, objects, and classes.</li>
            <li>
              Handling events and working with the DOM to manipulate HTML and
              CSS.
            </li>
            <li>
              Using and managing frameworks and libraries to simplify
              development.
            </li>
          </ul>
        </div>
        <div class="box">
          <div class="box-head">UX Research</div>
          <ul class="box-para">
            <li>Engaging users in deep-dive interviews.</li>
            <li>Tracking behavior with heatmaps.</li>
            <li>Identifying pain points through usability tests.</li>
            <li>Gathering insights via targeted surveys.</li>
          </ul>
        </div>
        <div class="box">
          <div class="box-head">React</div>
          <ul class="box-para">
            <li>
              Fundamentals of React, including components, state, and props.
            </li>
            <li>Developing reusable UI components.</li>
            <li>Building efficient and maintainable user interfaces.</li>
            <li>Implementing routing and navigation using React Router.</li>
          </ul>
        </div>
        <div class="box">
          <div class="box-head">HTML/CSS</div>
          <ul class="box-para">
            <li>Basic and advanced CSS, including flexbox, grid, and Sass.</li>
            <li>
              Responsive design and media queries for creating mobile-friendly
              websites.
            </li>
            <li>
              Best practices for writing clean, maintainable, and scalable CSS
              code.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
